<h1>Upload a photo</h1>
<h2>or choose from your existing uploads</h2>

<%= form_for :profile_picture do |form| %>
  <%= form.file_field :new_profile_picture, name: "new_profile_picture" %>
  <%= form.submit :'Set new profile picture', name: 'Set new profile picture' %>
<% end %>

<% @photos.reverse.each do |post| %>
  <%= image_tag post.image %>
  <%= post.description %>
<% end %>