<h1><%= @user.first_name %>'s photos</h1>
<p><%= @photo_edit_error %></p>
<% @photos.reverse.each do |photo| %>
  <%= image_tag photo.image %>
  <%= photo.description %>
  <%= link_to "Edit", edit_photo_path(photo.id) %>
  <%= link_to "Delete", photo_path(photo.id), method: :delete %>
<% end %>