<h1><%= @user.first_name %>'s photos</h1>
<p><%= @photo_edit_error %></p>
<% @photos.reverse.each do |post| %>
  <%= image_tag post.image %>
  <%= post.description %>
  <%= link_to "Edit", edit_photo_path(post.id) %>
<% end %>