<% @posts.reverse.each do |post| %>
  <div>
    <p><%= post.message %></p><br/>
  </div>
  <a href="/posts/<%= post.id %>/edit" class="ui inverted yellow button">Edit</a> 

  <%= form_tag post_path(post.id), method: "delete" do %>
    <%= submit_tag "Delete", class: "ui inverted red button" %>
  <% end %>
  
  <br/>
<% end %>

<%= link_to new_post_path, class: "ui inverted primary button" do %>
  New post
<% end %>
