<%= link_to 'Log out', "/sessions/#{@user.id}", method: :delete, class: "ui inverted secondary button" %>
<%= link_to 'New post', "/posts/#{@user.id}/new", class: "ui inverted secondary button" %>

<% @posts.reverse.each do |post| %>
  <div class="ui container post">
    <% if session[:invalid_edit] && session[:invalid_edit_id].to_i == post.id %>
      <div class="ui red message">You cannot update another user's post!</div>
    <% end %>
    
    <% if session[:invalid_delete] && session[:invalid_delete_id].to_i == post.id %>
      <div class="ui red message">You cannot delete another user's post</div>
    <% end %>
    <div class="ui container post">
      <p><%= post.message %></p><br/>
      <p><%= post.created_at.strftime("posted on %d/%m/%Y at %H:%M") %></p><br/>
      <%= link_to "Edit", edit_post_path(post.id), class: "ui inverted secondary button"%>
      <%= link_to "Delete", post_path(post.id), method: "delete", class: "ui inverted red button" %>
    </div>
  </div>
  <br/>
<% end %>
