<%= link_to 'Log out', "/sessions/#{@user.id}", method: :delete %>

<% @posts.each do |post| %>
  <p><%= post.message %></p><br/>
  <a href="/posts/<%= post.id %>/edit">Edit</a> 

  <%= form_tag post_path(post.id), method: "delete", id: "delete" do %>
    <%= submit_tag "Delete" %>
  <% end %>
  <br>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
