<% @posts.reverse.each do |post| %>
<% p post %>
  <div>
    <p><%= post.message %></p><br/>
    <p><%= post.created_at.strftime("posted on %d/%m/%Y at %H:%M") %></p><br/>
  
    <a href="/posts/<%= post.id %>/edit" class="ui inverted yellow button">Edit</a> 

    <%= form_tag post_path(post.id), method: "delete" do %>
      <%= submit_tag "Delete", class: "ui inverted red button" %>
    <% end %>
  </div>
  <br/>
<% end %>

<%= link_to new_post_path, class: "ui inverted primary button" do %>
  New post
<% end %>
