<%= link_to 'Profile', user_path(session[:id]) , class: "ui inverted secondary button" %>
<%= link_to 'New post', new_post_path, class: "ui inverted secondary button" %>

<% @posts.reverse.each do |post| %>
  <div class="ui container post">
    <% @post_owner = User.find(post.user_id) %>
  <div>
    <% if session[:invalid_edit] && session[:invalid_edit_id].to_i == post.id %>
      <div class="ui red message">You cannot update another user's post!</div>
    <% end %>
    
    <% if session[:invalid_delete] && session[:invalid_delete_id].to_i == post.id %>
      <div class="ui red message">You cannot delete another user's post</div>
    <% end %>
    <!-- <div class="ui container post"> -->
      <% if session[:over_ten_minutes] && session[:over_ten_minutes_id].to_i == post.id %>
        <p class="ui red message">Post can no longer be edited.</p>
      <% end %>

      <p><%= post.message %></p><br/>
      <small><%= "Posted by" %> <%= link_to "#{@post_owner.first_name} #{@post_owner.last_name}","/#{@post_owner.id}" %> <%=post.created_at.strftime("on %d/%m/%Y at %H:%M") %></small><br/>
      
      <% @like = Like.find_by({ post_id: post.id, user_id: session[:id] }) %>
      <% if @like %>
        <%= link_to 'Unlike', delete_like_path(@like.id), method: :delete,  class: "ui inverted secondary button" %>
      <% else %>
        <%= link_to 'Like', create_like_path(post.id), method: :post,  class: "ui inverted secondary button" %>
      <% end %>

      <%= @likes = Like.where({ post_id: post.id }).length
        case @likes
        when 0 
        when 1 then '1 Like'
        else "#{@likes} Likes"
        end
      %>
      <%= link_to "Edit", edit_post_path(post.id), class: "ui inverted secondary button"%>
      <%= link_to "Delete", post_path(post.id), method: "delete", class: "ui inverted red button" %>
    </div>
  </div>
  <br/>
<% end %>

