<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="konami"></div>
    <%= yield %>
    <script>

      function onKonamiCode(assertion) {
        var input = '';
        var key = '38384040373937396665';
        document.addEventListener('keydown', function (e) {
          input += ("" + e.keyCode);
          if (input === key) {
            return assertion();
          }
          if (!key.indexOf(input)) return;
          input = ("" + e.keyCode);
        });
      }

      onKonamiCode(function() {
        var element = document.getElementById("konami");
        window.scrollTo(0, 0)
        element.innerHTML = `<img src="https://i.imgflip.com/1jng63.jpg" class="ui fluid image">`
        alert("FAKE NEWS!!!");
      });

    </script>
  </body>
</html>
