<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <div id='messages'>
        <div id='user-name'><%= "#{current_user.first_name} #{current_user.last_name}" %></div>
        <% messages.each do |message| %>
            <small><%= message.user.first_name %> <%= message.user.last_name %> said:</small>
            <p><%=message.body%></p>
        <% end %>
      </div>
    <% end %>
    <div class="wrapper">
      <%= nav_bar(current_user) %>
      <!-- <div class="ui main text container"> -->
        <%= content_tag(:div, nil, id: "konami") %>
        <%= yield %>
      <!-- </div> -->
      <%= content_tag(:div, nil, class: "footer_whitespace") %>
      <%= footer %>
    </div>
  </body>
</html>


